<div>
    <h1>{{title}}</h1>
    <p><strong>{{blanks.0.content}}</strong>, <strong>{{blanks.0.content}}</strong>, <strong>{{blanks.0.content}}</strong> your <strong>{{blanks.1.content}}</strong>, <strong>{{blanks.2.content}}</strong> down the <strong>{{blanks.3.content}}</strong>, <strong>{{blanks.4.content}}</strong>, <strong>{{blanks.4.content}}</strong>, <strong>{{blanks.4.content}}</strong>, <strong>{{blanks.4.content}}</strong>, life is but a <strong>{{blanks.5.content}}</strong>!</p>
</div>